.about {
  background-color: #fff;

  // .about__inner

  &__inner {
    max-width: 704px;
    margin: 0 auto;
    padding: 120px 0;
    display: flex;
    gap: 24px;
    // align-items: flex-start; /* Ключова властивість: вирівнювання елементів по верхньому краю */

    @media screen and (max-width: $bp-tablet) {
      max-width: 288px;
      padding: 120px 0;
      gap: 0;
    }

    @media screen and (min-width: 1158px) {
      max-width: 1158px;
    }
  }

  // .about__images

  &__images {
    flex: 0 0 356px; // або інша ширина, яка підходить під макет
    background-image: url("../../images/about.webp");
    background-size: cover;
    background-position: top;
    min-height: 100%; // Забезпечує повну висоту відносно сусіднього блоку
    // aspect-ratio: 356 / 392;

    @media screen and (max-width: $bp-tablet) {
      display: none;
    }

    @media screen and (min-width: 1158px) {
      flex: 0 0 567px;
      // aspect-ratio: 567 / 560;
    }
  }

  // .about__content

  &__content {
    flex: 1 1 0;
    min-width: 0; // дозволяє тексту переноситися
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (max-width: $bp-tablet) {
      max-width: 288px;
      margin: 0 auto;
    }
  }

  &__title {
    margin-top: 0; /* Важливо: прибрати верхній відступ заголовка */
    padding-top: 0;
    margin-bottom: 40px;
    font-size: 30px;
    overflow-wrap: break-word;
    word-break: break-word;

    @media screen and (max-width: $bp-tablet) {
      font-size: 24px;
    }

    @media screen and (min-width: 1158px) {
      font-size: 45px;
    }
  }

  // .about__text

  &__text {
    margin-top: 10px;
    line-height: 1.5;

    // &--accent {
    //   color: $c-rustic-amber;
    //   font-weight: 700;
    // }
  }

  // .about__img

  &__img {
    width: 100%;
    height: auto;
    display: block;
    @media screen and (max-width: $bp-tablet) {
      display: none;
    }
  }
}
