.contact-section {
  padding: 120px 0;

  // .contact__content

  &__container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    max-width: 1128px;
  }

  // .contact__form

  &__form-field {
    margin-bottom: 24px;
  }

  &__button {
    display: block;
    margin: 0 auto 16px;
  }

  // .contact__title

  &__title {
    margin-bottom: 40px;
  }

  &__text {
    color: $c-rustic-amber;
  }

  // .contact__map

  &__map {
    width: 100%;
    flex-shrink: 1;
    border-radius: 16px;
    border: none;
  }
}

@media screen and (max-width: $bp-tablet-one) {
  .contact-section {
    &__container {
      flex-direction: column;
      width: 280px;
      margin: 0 auto;
    }

    &__text {
      text-align: center;
      margin-bottom: 55px;
    }
  }
}

@media screen and (min-width: $bp-tablet) {
  .contact-section {
    &__container {
      flex-direction: row;
    }
    &__title {
      // margin-bottom: 40px;
    }

    &__text {
      // text-align: center;
    }
  }
}

@media screen and (max-width: $bp-mobile) {
  .contact-section {
    &__container {
      flex-direction: column;
      width: 280px;
      margin: 0 auto;
    }
    &__text {
      text-align: center;
      margin-bottom: 55px;
    }
  }
}
