.link {
    text-decoration: none;
    color: #952700;
    font-size: 18px;
    letter-spacing: 0.1em;
    font-weight: regular;
    transition: color 0.3s;
  }
  
  .link:hover {
    color: #5f1300;
  }
  