.footer {
  padding: 120px 0;
  background-color: $c-forest-green;

  // .footer__text

  &__text {
    font-weight: 700;
    color: $c-cloud-background;
    margin-bottom: 18px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

// .logo {

//     // .logo__img

//     &__img {
//     }
// }

.address-link-location {
  color: $c-cloud-background;
}

.address-link-location:hover {
  color: $c-primary-brand;
}
.footer-contacts {
  gap: 15px;
  display: flex;
  flex-direction: column;

  // .footer-contacts__item

  &__item {
  }

  // .footer-contacts__link

  &__link {
    display: flex;
    align-items: center;
    gap: 30px;
    color: $c-cloud-background;
  }

  &__link:hover {
    color: $c-primary-brand;
  }
}
.address-icon {
  flex-shrink: 0;
  fill: $c-cloud-background;
}

.address-icon:hover {
  fill: $c-primary-brand;
}
.social {
  gap: 15px;
  display: flex;
  flex-direction: column;

  // .social__item

  &__item {
    width: 40px;
    height: 40px;
  }

  // .social__link

  &__link {
  }
}

@media screen and (min-width: $bp-tablet-one) {
  .footer {
    // text-align: center;

    &__icon-logo {
      display: none;
    }
  }
}

@media screen and (max-width: $bp-tablet) {
  .footer {
padding: 70px 0;

    &__text-container {
      margin-bottom: 130px;
    }

    &__container {
      display: block;
      text-align: center;
    }

    &__icon-logo {
      margin-bottom: 50px;
      fill: $c-cloud-background;
    }
  }

  .footer-contacts {
    display: inline-flex;
    flex-direction: row;
    margin-right: 12px;
    &__text {
      display: none;
    }
  }

  .social {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    &__link {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
}
