$font_main: "IBM Plex Serif", serif;
$font_title: "IBM Plex Serif", serif;

$c-primary-brand: #afb165;
$c-forest-green: #4b5320;
$c-rustic-amber: #952700;
$c-pressed-state: #6f1100;
$c-primary-text: #434455;
$c-color-dark: #2e2f42;
$c-cloud-background: #fff4e8;
$c-common-black: #191a17;

$bp-mobile: 480px;
$bp-tablet: 767px;
$bp-tablet-one: 768px;
$bp-desktop: 1440px;
