$font_main: "Poppins", sans-serif;
$font_title: "Poppins", sans-serif;

$c-primary-brand: #afb165;
$c-forest-green: #4b5320;
$c-rustic-amber: #952700; 
$c-pressed-state: #6f1100;
$c-primary-text: #434455;
$c-color-dark: #2e2f42;
$c-cloud-background: #FFF4E8;
$c-common-black: #191a17;




